/*ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}
*/

h1 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 43px;
    color: rgb(45, 36, 59);
    text-decoration: underline 2px;
    margin: 5px 0px 15px 10px;
    padding: 10px 0px 5px 20px;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(167, 204, 167);
    min-height: 100%;
}


p {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0px 5px 10px;
    padding: 10px 0px 0px 20px;
}


#nimi01 {

    margin: 5px 0px 5px 30px;
}

#labeli {

    margin: 5px 0px 5px 30px;
    font-weight: bold;
}


.kavlisaa {

    margin: 0px 0px 0px 4px;
}

/*/form {
    margin: 0px 0px 0px 30px;
}*/

#kaverit2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: rgb(45, 36, 59);
    margin: 20px 0px 15px 50px;
    padding: 0px 0px 0px 0px;

}